.imgden
{
    float:left;
     Height:261px;
      Width:190px;
 
  margin:0px 40px 40px 0;
     padding-left:1px;

        
}

.imgfal
{
    float:left;
     Height:200px;
      Width:180px;
 
  margin:0px 40px 40px 0;
     padding-left:1px;
}